<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helio.arduino">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".connecting.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dso.DsoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".multimeter.MultimeterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signal.SignalActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".dso.ImagesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dso.ImagePreviewActivity"
            android:screenOrientation="portrait" />

        <service android:name=".core.BluetoothService" />

        <activity
            android:name=".ManualActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".multimeter.FileListActivity"></activity>
    </application>

</manifest>